# 忽视 IDE 创建的文件
.idea/
*.iml
*.project
.settings/
.classpath
.vscode/



# 忽视编译输出
*.class
target/

# 忽视日志
/slf4j-json-logger/logs/
log/
logs/

# 忽视采集器的工作目录
*/crawlingWorkspaceFolder

*/crawlresult-dir
*/upload-dir

# 忽视 Microsoft Office 临时文件
~$*.pptx
~$*.docx
webee-chrome-extension.crx
webee-chrome-extension.pem

.DS_Store


/crawlingWorkspaceFolder/
